# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
lab3/.vagrant/machines/default/virtualbox/action_provision
lab3/.vagrant/machines/default/virtualbox/action_set_name
lab3/config.yaml
lab3/Vagrantfile
lab3/.vagrant/machines/default/virtualbox/creator_uid
lab3/.vagrant/machines/default/virtualbox/synced_folders
*.md
lab3/setup.rb
lab3/.vagrant/machines/default/virtualbox/id
lab3/.vagrant/machines/default/virtualbox/index_uuid
Seminar1/Kazaliste_Felicita/.vagrant/machines/default/virtualbox/action_provision
Seminar1/Kazaliste_Felicita/.vagrant/machines/default/virtualbox/action_set_name
Seminar1/Kazaliste_Felicita/.vagrant/machines/default/virtualbox/creator_uid
Seminar1/Kazaliste_Felicita/.vagrant/machines/default/virtualbox/id
Seminar1/Kazaliste_Felicita/.vagrant/machines/default/virtualbox/index_uuid
Seminar1/Kazaliste_Felicita/.vagrant/machines/default/virtualbox/synced_folders
Seminar1/Kazaliste_Felicita/config.yaml
Seminar1/Kazaliste_Felicita/Vagrantfile
Seminar1/Kazaliste_Felicita/setup.rb
lab4/.vagrant/machines/default/virtualbox/synced_folders
lab4/.vagrant/machines/default/virtualbox/action_provision
lab4/.vagrant/machines/default/virtualbox/action_set_name
lab4/.vagrant/machines/default/virtualbox/id
*.rb
lab4/config.yaml
lab4/.vagrant/machines/default/virtualbox/creator_uid
lab4/.vagrant/machines/default/virtualbox/index_uuid
lab4/Vagrantfile
*.yaml
lab5/.vagrant/machines/default/virtualbox/index_uuid
lab5/.vagrant/machines/default/virtualbox/creator_uid
lab5/.vagrant/machines/default/virtualbox/action_provision
lab5/.vagrant/machines/default/virtualbox/action_set_name
lab5/.vagrant/machines/default/virtualbox/id
lab5/.vagrant/machines/default/virtualbox/synced_folders
lab6/.vagrant/machines/default/virtualbox/index_uuid
lab6/.vagrant/machines/default/virtualbox/creator_uid
lab6/.vagrant/machines/default/virtualbox/action_provision
lab6/.vagrant/machines/default/virtualbox/action_set_name
lab6/.vagrant/machines/default/virtualbox/id
lab6/.vagrant/machines/default/virtualbox/synced_folders
lab6/vendor/tecnickcom/tcpdf/examples/

lab7/.vagrant/machines/default/virtualbox/index_uuid
lab7/.vagrant/machines/default/virtualbox/creator_uid
lab7/.vagrant/machines/default/virtualbox/action_provision
lab7/.vagrant/machines/default/virtualbox/action_set_name
lab7/.vagrant/machines/default/virtualbox/id
lab7/.vagrant/machines/default/virtualbox/synced_folders
lab7/vendor/tecnickcom/tcpdf/examples/
