body{
	font-family: 'Open Sans', sans-serif;	
	background-color: #F4F5F8;
}
h1,h2,h3,h4,h5,p,a{
	font-weight: 300;
}
/*navigacija*/
.navbar{
	border:none;
}
.navbar-nav{
	margin:0px;
}
.navbar-collapse{
	padding:0px;
}
.navbar-default{
	background-color: #FFF;
	padding:20px 0px;
}

.navbar-default .navbar-nav li a, .dropdown-menu li a{	
	font-size:16px;
	font-weight: 600;
	color:#757575;
	margin:10px 15px;
	padding:5px 10px;
	-webkit-border-radius: 2px;
	        border-radius: 2px;
}
.navbar-default .navbar-nav li a:hover, .dropdown-menu li a:hover{
	color:#3ab4ed;
	background-color: #FFF;
}
.navbar-default .navbar-nav li.active a,.navbar-default .navbar-nav li.active a:hover{
	baccolor:#c8cace;
	color:#fff;	
}
.dropdown-menu{
	padding:0px;
}
/*end navigacija*/
/*sve stranice*/
.no-padding{
	padding-left:0px;
	padding-right:10px;
}
.img-responsive{
	margin-bottom: 20px;
}
@media screen and (max-width: 991px) {
    .no-padding-responsive {
        padding-left: 0px;
        padding-right: 10px;
    }
}
.margin{
	margin-top:15px;
	margin-bottom:15px;
}
.no-margin{
	margin:0;
}
/*end sve stranice*/

/*index.php*/
/*za sve tabove*/

.nav-tabs li a{
	color:#757575;
}
.nav-tabs li a:hover{
	color:#3ab4ed;
	background-color: transparent;	
	border:1px solid transparent;
}
.nav-tabs li.active a{	
	color:#c8cace;	
	
}
.tab-pane{
	padding-top:20px ;
	padding-left: 15px;
	padding-bottom: 20px;
	padding-right:15px;
	background-color: #FFF;
	border: solid 1px #e6e7ea;
	border-top: none;
}
.well{
	-webkit-border-radius: 0px;
	        border-radius: 0px;
	background-color: #F4F5F8;
	border: none;
}
/*sakrivanje mjesta vracanja*/
#office-in-div{
	display:none;
}

/*prikaz podataka o rezervaciji na kraju*/
dt, dd{
	padding-bottom: 10px;
}
.dl-horizontal dt
{
    white-space: normal;
    width: 200px;
}

#success{
	font-weight: 600;
}


.carousel-inner > .item > img {
   
      margin:0 auto;
  }

/*end inex.php*/

/*gumbi*/
.btn-default, .btn-primary, .btn-info,.btn-danger{
	border:none;
	padding: 15px 20px;
	color: #fff;
	-webkit-border-radius: 0px;
	        border-radius: 0px;
}
.btn-default{
	background-color: #E93C40;	
}
.btn-default:hover{
	background-color: #FF3C40;
	color: #fff;
}
.btn-primary{
	background-color: #E93C40;	
}
.btn-primary:hover{
	background-color: #FF3C40;
	color: #fff;	
}
.btn-info{
	background-color: #219bd4
}
.btn-info:hover{
	background-color: #3AB4ED;	
}


/*footer*/
footer{
	background-color: #fff;
	margin-top: 50px;
	padding-top: 40px;
	padding-bottom: 40px;
}
footer i{
	font-size: 32px;
}
footer  a{
	color:black;
}
footer  a:hover{
	color:#555;
}
/*end footer*/