body{
	font-family: 'Noto Sans', sans-serif;
}
/*navigacija*/
.navbar{
	border:none;
}
.navbar-nav{
	margin:0px;
}
.navbar-collapse{
	padding:0px;
}
.navbar-default .navbar-nav li a{

	padding:20px 30px;
}
.navbar-default .navbar-nav li a:hover{
	background-color: #aaa;
}
.dropdown-menu{
	padding:0px;
}
/*end navigacija*/
/*sve stranice*/
.no-padding{
	padding-left:0px;
	padding-right:10px;
}
.img-responsive{
	margin-bottom: 20px;
}
@media screen and (max-width: 991px) {
    .no-padding-responsive {
        padding-left: 0px;
        padding-right: 10px;
    }
}
.margin{
	margin-top:15px;
	margin-bottom:15px;
}
.no-margin{
	margin:0;
}
/*end sve stranice*/

/*index.php*/
/*za sve tabove*/
.tab-pane{
	padding-top:20px ;
	padding-left: 15px;
	padding-bottom: 20px;
	padding-right:15px;
}
/*sakrivanje mjesta vracanja*/
#office-in-div{
	display:none;
}
/*prikaz podataka o rezervaciji na kraju*/
dt, dd{
	padding-bottom: 10px;
}
.dl-horizontal dt
{
    white-space: normal;
    width: 200px;
}
/*end inex.php*/

/*footer*/
footer{
	background-color: #f8f8f8;
	margin-top: 50px;
	padding-top: 40px;
	padding-bottom: 40px;
}
footer i{
	font-size: 32px;
}
footer  a{
	color:black;
}
footer  a:hover{
	color:#555;
}
/*end footer*/